.userCreated {
    pointer-events: all !important;
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: dotted;
    transition: transform 1s;
}

.userCreated:hover {
    border-color: silver;
}

.wire {
    pointer-events: visibleStroke;
}

.fakeWire {
    pointer-events: none !important;
}

.highlighted {
    stroke: rgba(238, 222, 130, 0.689);
}

.visible {
    opacity: 1 !important;
    pointer-events: all !important;
    display: block;
}

.currentScreenButton {
    border-color: gold !important;
    color: gold !important;
}

